/temp
/tmp

# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Obsidian directory
.obsidian/
.trash/
content/private/

.DS_Store