# Temporary files for dev
temp/
tmp/

# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Obsidian directory
.obsidian/
.trash/
content/private/

# macOS
.DS_Store