<!-- TODO Purchase commercial liscenes and hard code these fonts into the site as backups. -->

<!-- CDN | Fonts: New Atten -->
<link href="https://fonts.cdnfonts.com/css/atten-new" rel="stylesheet">
                
<!-- Google Fonts: Overpass, Overpass Mono -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- 
font-family: 'Atten New', sans-serif;
font-family: 'Atten Round New', sans-serif;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.overpass-<uniquifier> {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
.overpass-mono-<uniquifier> {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
 -->