{{ define "header" }}
  <code class="layout-text">Layout: index.html</code>
  <!-- <h1 class="hidden-title-seo">{{ .Params.titleSEO}}</h1>
  {{ with .Params.kicker }}
  <p>{{.}}</p>
  {{ end }}
  <h2>{{.Title}}</h2>
  {{ with .Params.subtitle }}
  <p class="subtitle">{{.}}</p>
  {{ end }} -->
</header>
{{ end }} 

{{ define "main" }}
<div class="form-newsletter">
  <p class="kicker">Unlock Your Potential for Growth</p>
  <h3>Achieve Emotional Mastery: Transform Stress into Strength</h3>
  <p> 
    Join
    <!-- 1'200+ -->
    ambitious achievers recieving <span class="no-wrap">in-depth</span> insights, framework breakdowns, and
    practical strategies 6 days a week.
  </p>
  {{ partial "forms/newsletter-subscribe.html" . }}

</div>
<div>
{{.Content}}
</div>
  <div>
    <!-- Note that .Data.Pages is the equivalent of .Site.Pages on the homepage template. -->
    {{ range first 10 .Data.Pages }} {{ .Render "summary"}} {{ end }}
  </div>
</main>

{{ end }}

{{ define "footer" }}

{{ end }}
